@model IEnumerable<WebUI.Models.ViewModels.ContentListViewModel>

@{
    ViewBag.Title = "Контент";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Контент</h2>

<p>
    @Html.ActionLink("Добавить новый контент", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageRate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageRate)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.ID}) |
            @Html.ActionLink("Подробности", "Details", new { id = item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
